/.env
.idea/
node_modules/
npm-debug.*
deploy.*
deploy-front-end.*
errorLogs/
requestsLogs/
query.js
populate_premades.js
dummy.js
ecosystem.config.js
qtest/
*.csv
*.txt
app/socket-hnadeler/builderFun.js
.vscode/*
.vscode
